<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ this.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Transparent, secure; browser to mobile TOTP.">
        <link rel="stylesheet" href="{{ '/main.css'|url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png'|url }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png'|url }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png'|url }}" />
        <link rel="manifest" href="{{ '/manifest.json'|url }}" />
        <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg'|url }}" color="#bdc1ff" />
        <meta name="theme-color" content="#bdc1ff" />
    </head>
    <body>
{%- block header %}
        <header>
            <h1><img src="{{ '/tapsafe.svg'|url }}" alt="" /> Tapsafe</h1>
            <nav>
                <a{% if this._path == site.root._path %} class="active"{% endif %} href="{{ site.root|url }}">Home</a>
{%- for child in site.root.children %}
                <a{% if this._path == child._path %} class="active"{% endif %} href="{{ child|url }}">{{ child.title }}</a>
{%- endfor %}
            </nav>
        </header>
{%- endblock %}
{%- block body %}
        <article>
            <h1>{{ this.title }}</h1>
            {{ this.body }}
        </article>
{%- endblock %}
        <footer>
            <a href="https://Zi.iS/"><img src="{{ '/ziis.svg'|url }}" alt="Zi.iS" height="50" /></a>
        </foorter>
    </body>
</html>

